<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MongoCnnStr" value="mongodb://localhost" />
		<add key="MongoDBName" value="Rsses" />

		<add key="pusherAppId" value="" />
		<add key="pusherAppKey" value="" />
		<add key="pusherAppSecret" value="" />

	</appSettings>
</configuration>